<div class="column">
    <h2 class="title pb-4">create new account:</h2><hr>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" required='required' />
        </div>
        <div>
            <label for="email-signup">username:</label>
            <input type="text" id="email-signup" required='required' />
        </div>
        <div>
            <label for="github-signup">username:</label>
            <input type="text" id="github-signup" required='required' />

        </div>
    </form>
</div>